# Environment
.env
.env.dev
venv/
tests/
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.sqlite

# Screenshots
screenshots/*

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
dist/
build/